.chars-menu {
    position: absolute;
    width: 150px; 
    height: 150px;
    background: white;
    border: 1px solid black;
    padding: 10px;
    z-index: 1;
    border-radius: 10px; 
    overflow: auto; 
}

.chars-menu ul {
    list-style-type: none; 
    padding: 0;
    cursor: pointer;
}

/* Styles for screen sizes 600px and below */
@media (max-width: 600px) {
    .chars-menu {
        width: 100px; 
        height: 100px;
        font-size: 10px;
    }
}