.chars {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-bottom: 30px;
    max-width: 900px;
    padding: 0 20px;
}

.chars img {
    width:100%;
    height: auto;
}