.game-board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-board {
    width: 100%;
    height: auto;
}

.fixed-elements {
    display: flex;
    flex-direction: column;
    top: 0;
    width: 100%;
    text-align: center;
    align-items: center;
    background: white; /* Or any color that fits your design */
    padding: 10px;
    z-index: 100;
}

.fixed-elements h1 {
    margin: 0;
    font-size: 3em;
}

.fixed-elements p {
    padding: 0 1rem;
}

.scrollable-image-board {
    width: 100%; /* Adjust as needed */
    height: calc(100vh - 100px); /* Adjust based on the height of your fixed elements */
    overflow: auto;
    top: 250px;
}

.scrollable-image-board::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.scrollable-image-board::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.scrollable-image-board::-webkit-scrollbar-track {
    background: #666666;
}

.reindeer-div {
    max-width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    background-color: white;
}

.reindeer-div img {
    width: 25%;
    height: auto;
}

.timer {
    background-color: white;
}

.sticky-div {
    width: 100%;
    top: 10px;
    position: sticky;
}



