.game-board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-board {
    width: 100%;
    height: auto;
}

.fixed-elements {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    background: white; /* Or any color that fits your design */
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 100;
}

.scrollable-image-board {
    width: 100%; /* Adjust as needed */
    height: calc(100vh - 200px); /* Adjust based on the height of your fixed elements */
    overflow: auto;
    margin-top: 200px; /* Adjust based on the height of your fixed elements */
}

.scrollable-image-board::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.scrollable-image-board::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.scrollable-image-board::-webkit-scrollbar-track {
    background: #666666;
}

.reindeer-div {
    max-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.reindeer-div img {
    width: 25%;
    height: auto;
}

